<tr>
  <td><%= image_tag photo.image_url(:thumb), width: 200 %></td>
  <td><%= link_to 'Show', photo %></td>
  <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
  <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
