<h1>Photos</h1>

<div class="form-group">
  <label>Select photos</label>
  <%= file_field_tag :file, multiple: true %>
</div>

<%= form_for @album do |f| %>
  <ul class="list-unstyled">
    <% @photos.each_with_index do |photo, idx| %>
      <%= render "photo", photo: photo, idx: idx %>
    <% end %>
  </ul>
  <%= submit_tag "Save", class: "btn btn-primary" %>
<% end %>
