<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<%= file_field_tag :file, multiple: true %>

<br><br>

<table id="photos">
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @photos %>
  </tbody>
</table>
